{{> menu}}

<form class="ui stacked segment form" action="/song/{{playlist.id}}/updatesong/{{song.id}}" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" value="{{song.title}}">
    </div>
    <div class="field">
      <label>Artist</label>
      <input placeholder="Artist" type="text" name="artist" value="{{song.artist}}">
    </div>
    <div class="field">
      <label>Duration</label>
      <input placeholder="00" type="number" name="duration" value="{{song.duration}}">
    </div>
  </div>
  <button class="ui blue submit button">Update Song</button>
</form>
